<script setup>
import { ref } from 'vue';
import {useToast} from "primevue/usetoast";

const text = ref();
const toast = useToast();
const greet = () => {
toast.add({severity: 'succsess', summary: 'Успешный вход в систему',detail: text.value, life: 3000});

}

</script>

<template>
	<Toast></Toast>
	<div class="container">
 		<span class="p-float-label p-input-filled" style="margin-right: 1rem">
			<InputText id="username" type="text" v-model="text" />
			<label for="username">Имя пользователя</label>
		</span>
		<Button label="Вход в систему" @click="greet" icon="pi pi-user"></Button>
	</div>
</template>

<style scoped>
.container
{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
</style>
